<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
    <form  method="POST" action="/team">
  <label for="name">Team name</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="coach">Coach</label><br>
  <input type="text" id="coach" name="coach">
  <label for="pg">Point Guard</label><br>
  <input type="text" id="pg" name="pg"><br>
  <label for="lname">Shooting Guard</label><br>
  <input type="text" id="sg" name="sg">
   <label for="pf">Power Forward </label><br>
  <input type="text" id="pf" name="pf">
   <label for="sf">Small Forward</label><br>
  <input type="text" id="sf" name="sf">
   <label for="c">Center</label><br>
  <input type="text" id="c" name="c">
  <input type="submit" value = "Submit">
</form>
 </head>
 <body>
 </body>
</html>
